
@import "tailwindcss";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

.vertical-text {
  writing-mode: vertical-rl;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
